<h1>Kişisel Bilgiler</h1>
<form [formGroup]="regiForm" (ngSubmit)="onSubmit(regiForm.value)">
    <div class="form-group" >
        <label for="exampleInputEmail1">İsim</label>
        <input formControlName="isim" class="form-control" id="exampleInputEmail1" ngModel  aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Şehir/İlçe</label>
        <input formControlName="sehir" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Yaş</label>
        <input formControlName="yas" class="form-control" id="exampleInputEmail1" type="number" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Hakkında</label>
        <input formControlName="hakkinda" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Gecelik Bakım Ücreti</label>
        <input formControlName="gecelik" class="form-control" id="exampleInputEmail1" type="number" aria-describedby="emailHelp">

    </div>
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>
    <div id="ss">
        <label class="btn btn-default" > <input type="file" 
            (change)="selectFile($event)" >
        </label>
    </div>
    
    <div id="sa">
       
        <button (click)="upload('yok')" [disabled]="!selectedFiles" class="btn btn-primary">Fotograf Yükle </button>
    </div>
<h1>Ev Bilgileri</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Mesken Şekli</label>
        <input formControlName="mesken" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Bahçe</label>
        <select formControlName="bahce" class="form-control" id="bahce">
            <option value="var">Var</option>
            <option value="yok">Yok</option>
          </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Pet için Oda</label>
        <select formControlName="oda" class="form-control" id="oda">
            <option value="var">Var</option>
            <option value="yok">Yok</option>
          </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Başka  Pet</label>
        <select formControlName="baskapet" class="form-control" id="baska">
            <option value="var">Var</option>
            <option value="yok">Yok</option>
          </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Sigara İçimi</label>
        <select formControlName="sigara" class="form-control" id="sigara">
            <option value="var">Var</option>
            <option value="yok">Yok</option>
          </select>
    </div>
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>
    <div id="ss">
        <label class="btn btn-default" > <input type="file" 
            (change)="selectFile($event)" >
        </label>
    </div>
    
    <div id="sa">
        <button (click)="upload('evBilgi')" [disabled]="!selectedFiles" class="btn btn-primary">Fotograf Yükle </button>
    </div>
    <h1>Petinizin Bilgileri</h1>
    <div class="form-group" >
        <label for="exampleInputEmail1">İsim</label>
        <input formControlName="petismi" class="form-control" id="exampleInputEmail1" ngModel  aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Cinsiyeti</label>
        <select formControlName="cinsiyeti" class="form-control" id="sigara">
            <option value="Erkek">Erkek</option>
            <option value="Dişi">Dişi</option>
          </select>
    </div>
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>
    <div id="ss">
        <label class="btn btn-default" > <input type="file" 
            (change)="selectFile($event)" >
        </label>
    </div>
    
    <div id="sa">
        <button (click)="upload('petBilgi')" [disabled]="!selectedFiles" class="btn btn-primary">Fotograf Yükle </button>
    </div>
    <button type="onSubmit" class="btn btn-primary">Bilgileri Güncelle </button>
</form>