<h1>Kişisel Bilgiler</h1>
<form [formGroup]="regiForm" (ngSubmit)="onSubmit(regiForm.value)">
    <div class="form-group">
        <label for="exampleInputEmail1">İsim</label>
        <input formControlName="isim" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Şehir/İlçe</label>
        <input formControlName="sehir" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Yaş</label>
        <input formControlName="yas" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Hakkında</label>
        <input formControlName="hakkinda" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="asda">

    </div>
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>
    <div id="ss">
        <label class="btn btn-default" > <input type="file" 
            (change)="selectFile($event)" >
        </label>
    </div>
    
    <div id="sa">
       
        <button (click)="upload('yok')" [disabled]="!selectedFiles" class="btn btn-primary">Fotograf Yükle </button>
    </div>
    <button type="onSubmit" class="btn btn-primary">Bilgileri Güncelle </button>
</form>
<h1>Ev Bilgileri</h1>
<form [formGroup]="evForm" (ngSubmit)="onSubmit2(evForm.value)">
    <div class="form-group">
        <label for="exampleInputEmail1">Mesken Şekli</label>
        <input formControlName="mesken" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Bahçe</label>
        <input formControlName="bahce" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Pet için Oda</label>
        <input formControlName="oda" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Başka  Pet</label>
        <input formControlName="baskapet" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Sigara İçimi</label>
        <input formControlName="sigara" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>
    <div id="ss">
        <label class="btn btn-default" > <input type="file" 
            (change)="selectFile($event)" >
        </label>
    </div>
    
    <div id="sa">
       
        <button (click)="upload('evBilgi')" [disabled]="!selectedFiles" class="btn btn-primary">Fotograf Yükle </button>
    </div>
    <button type="onSubmit" class="btn btn-primary">Bilgileri Güncelle </button>
</form>