<form [formGroup]="regiForm" (ngSubmit)="onSubmit(regiForm.value)" >
   
    
    <div class="form-group">
      <h1 id="text">Kime:{{isim}}</h1>
      <label for="exampleInputEmail1">Baslık</label>
      <input formControlName="baslık" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Mesaj</label>
      <textarea formControlName="yazı" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  <button type="onSubmit" class="btn btn-primary" (click)="user.mail(userTemp.email)">Submit </button>
  </form>