

    <h2>Kiminle iletişim kurmak istiyorsun?</h2>
        
        
          <select #tur id="aa">
            <option value="yonetici">yonetici</option>
            <option value="bakıcılar">bakıcılar</option>
            <option value="hayvan sahibleri">hayvan sahibleri</option>
            
          </select>
          <p id="ab"><button (click)="kisiler(tur.value)"  class="btn btn-primary">Kişileri getir</button></p>
        
            <div class="form-group" >
              <label for="sel1">Kişi seç</label>
              <select class="form-control"id="sel1" formControlName="OgrenciId" #tur2> 
                <option *ngFor="let obj of data"  [value]="obj.key">{{obj.email}}--{{obj.name}}</option>
              </select>
              <button (click)="onSubmit(tur2.value)" class="btn btn-primary" routerLink='/sendMessage2' id="ac">Mesaj yaz </button>
              <br>
              
            </div>
          
          
         
     


