<tr *ngFor="let obj of petsitters;let i=index">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{obj.imageUrl}}" alt="Card image cap" height="250px">
    <div class="card-body">
      <h5 class="card-title">{{obj.name}}</h5>
      <p class="card-text">{{obj.Bilgi}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{obj.adress}}</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Gecelik : {{obj.gecelik}} TL</li>
    </ul>
    <div class="card-body">
      <a routerLink="/sitterProfil" (click)="us.setKey(obj.key)" class="card-link">Profile Git</a>
      
    </div>
  </div>
</tr>