<tr *ngFor="let obj of petsitters;let i=index">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://media-cdn.t24.com.tr/media/library/2020/02/1582296383899-5660491.jpg-r_1920_1080-f_jpg-q_x-xxyxx" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{obj.name}}</h5>
      <p class="card-text">{{obj.Bilgi}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{obj.adress}}</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Gecelik : {{obj.gecelik}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Profile Git</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</tr>