
<div class="grid-container">
  <div class="item1"><div class="card2">
    <img src="{{evPhoto}}" alt="Card image cap" style="width:100%">
    <h1>{{name}}'in Evi</h1>
    <hr/>
   
    <p><b>Mesken Şekli :</b> {{mesken}}</p>
    <p><b>Bahçe :</b> {{bahce}}</p>
    <p><b>Pet için oda :</b> {{oda}}</p>
    <p><b>Başka Pet :</b> {{baskapet}}</p>
    <p><b>Sigara içimi :</b> {{sigara}}</p>
  
  </div></div>

  <div class="item2"><div class="card">
    <img src="{{profilPhoto}}" alt="Card image cap" style="width:100%">
    <h1>{{name}}</h1>
    <p>{{adress}}</p>
    <p class="title">Hakkında</p>
    <p>{{hakkinda}}</p>
    
  </div>
</div>
<div class="item6"><div class="card">
  <h1>{{name}}'in Peti</h1>
  <img src="{{petPhoto}}" alt="Card image cap" style="width:100%" >
  <h1>{{petName}}</h1>
  <p>Cinsiyeti : {{petCinsiyet}}</p>
</div>
</div>
  <div class="item4"><div class="card2">
    <h1>Rezervasyon</h1>
    <div style="margin: 24px 0;margin-left: 25px;">
      <p class="title">Başlangıç Tarihi</p>
      <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"  [minDate]="minD" (ngModelChange)="onDateSelection()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"  type="button"></button>
        </div>
      </div>
    </div>
  </form>
  <hr/>
  <p class="title">Bitiş Tarihi</p>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp2" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" [minDate]="minD2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>
  <hr/>
    </div>
    <div>
    <label for="tur"><b>Petimin Türü :</b></label>
    <select #tur>
      <option value="Köpek">Köpek</option>
      <option value="Kedi">Kedi</option>
    </select>
  </div>
  <div>
    <label for="cins"><b>Petimin Cinsiyeti :</b></label>
    <select #cins>
      <option value="Erkek">Erkek</option>
      <option value="Dişi">Dişi</option>
    </select>
  </div>
  <div>
    <label for="yas"><b>Petimin Yaşı :</b></label>
    <select #yas>
      <option value="0-1">0-1</option>
      <option value="2-5">2-5</option>
      <option value="6-10">6-10</option>
      <option value="10+">10+</option>
    </select>
  </div>
  
    <p><button (click)="reservation(tur.value,cins.value,yas.value)" style="background-color: #8665f7;">Rezervasyonda Bulun</button></p>

  </div>

</div>


<div class="item3">
  
  <div class="table-box">
    <h1>{{name}}'in Takvimi</h1>
    
    <div class="table-row table-head">
        <div class="table-cell first-cell">
            <p>Tür</p>
        </div>
        <div class="table-cell">
            <p>Başlangıç</p>
        </div>
        <div class="table-cell last-cell">
            <p>Bitiş</p>
        </div> 
    </div>
  
    <div *ngFor="let obj of takvim;let i=index">
    <div class="table-row">
        <div class="table-cell first-cell">
            <p>{{obj.tur}}</p>
        </div>
        <div class="table-cell">
            <p>{{obj.startDate}}</p>
        </div>
        <div class="table-cell">
            <p >{{obj.endDate}}</p>
        </div>   
    </div>
  </div>
  
  </div>
  </div>
</div>

