
<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="Profil">
    <ng-template ngbTabContent>
      <div class="text-center">

        <div id="ss" >
        <div class="listebox">
        
        <div class="card" style="width: 18rem;" *ngIf="(petOwn==true)">
            <img src="{{profilPhoto}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>{{userTemp}}</h5>
            </div>
            <a class="btn btn-primary" href="editProfil" style="color: white;">Profil Güncelle </a>
            <a class="btn btn-danger" (click)="us.logout()"  href="#" >Çıkış Yap </a>
            
          </div>
        </div>
        </div>


        <div *ngIf="(petsitter==true)">
          <div class="card" >
            <img src="{{profilPhoto}}" alt="Card image cap" style="width:100%">
            <h1>{{name}}</h1>
            <p>istanbul/çekmeköy</p>
            <p class="title">Hakkında</p>
            <p>{{hakkinda}}</p>
            <a class="btn btn-primary"   href="editMyProfil" style="color: white;" >Profil Güncelle </a>
            <a class="btn btn-danger" (click)="us.logout()" style="color: white;" href="#" >Çıkış Yap </a>
          </div>
          <div class="card2" >
            <img src="{{evPhoto}}" alt="Card image cap" style="width:100%">
            <h1>{{name}}'in Evi</h1>
            <hr/>
           
            <p>Mesken Şekli: {{mesken}}</p>
            <p>Bahçe: {{bahce}}</p>
            <p>Pet için oda: {{oda}}</p>
            <p>Başka Pet: {{baskapet}}</p>
            <p>Sigara içimi: {{sigara}}</p>
          </div>

          
        </div>
        
    </div>

  
    
    </ng-template>
  </ngb-tab>
 


  <ngb-tab>
    <ng-template ngbTabTitle *ngIf="(petsitter==true)"><b>Reservasyonlar</b></ng-template>
    <ng-template ngbTabContent> 
      <table class="table table-hover"  >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kimden</th>
            <th scope="col">Başlangıç   -    Bitiş</th>
            <th scope="col">Tür</th>
            <th scope="col">Cinsiyet</th>
            <th scope="col">Yaş</th>
            <th scope="col">Kaç Gece</th>
            <th scope="col">Toplam Tutar</th>
            <th scope="col">Eylem</th>
          </tr>
        </thead>

      <tbody>
        <tr *ngFor="let objj of resArray;let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{objj.name}}</td>
          <td>{{objj.startDate}}--{{objj.endDate}}</td>
          <td>{{objj.tur}}</td>
          <td>{{objj.cins}}</td>
          <td>{{objj.yas}}</td>
          <td>{{objj.gece}}</td>
          <td>{{result2[i]}}</td>
          
       
          <td><button type="button" class="btn btn-success" (click)="applyReservation(objj,result2[i])" >Kabul et</button>-
          <button type="button" class="btn btn-danger"  (click)="removeReservation(objj.key)">Reddet</button> </td>
        </tr>
          
        
      </tbody>
      </table>
    
      <div class="table-box" style="padding-top: 200px;" *ngIf="(petsitter==true)">
        <h1 style="text-align: center;"> Kabul Edilen Rezervasyonlar</h1>
        
        <div class="table-row table-head">
            <div class="table-cell ">
                <p>Kimden</p>
            </div>
            <div class="table-cell">
                <p>Başlangıç-Bitiş</p>
            </div>
            <div class="table-cell">
              <p>Tür</p>
          </div>
          <div class="table-cell">
            <p>Cinsiyet</p>
        </div>
        <div class="table-cell">
          <p>Yaş</p>
      </div>
      <div class="table-cell">
        <p>Kaç Gece</p>
    </div>
    <div class="table-cell last-cell">
      <p>Toplam Tutar</p>
  </div>
           
              
        </div>
      
        <div *ngFor="let obj of takvim;let i=index">
        <div class="table-row">
            <div class="table-cell first-cell">
                <p>{{obj.email}}</p>
            </div>
            <div class="table-cell">
                <p>{{obj.startDate}}||{{obj.endDate}}</p>
            </div>
            <div class="table-cell">
                <p >{{obj.tur}}</p>
            </div> 
            <div class="table-cell">
              <p >{{obj.cins}}</p>
          </div>  
          <div class="table-cell">
            <p >{{obj.yas}}</p>
        </div> 
        <div class="table-cell">
          <p >{{obj.gece}}</p>
      </div>
      <div class="table-cell last-cell">
        <p>{{obj.toplam}}</p>
    </div> 
        </div>
      </div>
      
      </div>
    </ng-template>
  </ngb-tab>
 
</ngb-tabset>
