
<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="Profil">
    <ng-template ngbTabContent>
      <div class="text-center">

        <div id="ss" >
        <div class="listebox">
        
        <div class="card" style="width: 18rem;" *ngIf="(petOwn==true)">
            <img src="{{profilPhoto}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>{{userTemp}}</h5>
            </div>
            <a class="btn btn-primary" href="editProfil">Profil Güncelle </a>
            <a class="btn btn-danger" (click)="us.logout()"  href="#" >Çıkış Yap </a>
            
          </div>
        </div>
        </div>


        <div *ngIf="(petsitter==true)">
          <div class="card" >
            <img src="{{profilPhoto}}" alt="Card image cap" style="width:100%">
            <h1>{{name}}</h1>
            <p>istanbul/çekmeköy</p>
            <p class="title">Hakkında</p>
            <p>{{hakkinda}}</p>
            <a class="btn btn-primary"   href="editMyProfil" >Profil Güncelle </a>
            <a class="btn btn-danger" (click)="us.logout()"  href="#" >Çıkış Yap </a>
          </div>
          <div class="card2" >
            <img src="{{evPhoto}}" alt="Card image cap" style="width:100%">
            <h1>{{name}}'in Evi</h1>
            <hr/>
           
            <p>Mesken Şekli: {{mesken}}</p>
            <p>Bahçe: {{bahce}}</p>
            <p>Pet için oda: {{oda}}</p>
            <p>Başka Pet: {{baskapet}}</p>
            <p>Sigara içimi: {{sigara}}</p>
          </div>
        </div>
    </div>

  
    
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Gelen</b> Kutusu({{bildirim}})</ng-template>
    <ng-template ngbTabContent> 
      <table class="table table-hover"  >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Gönderen</th>
            <th scope="col">Baslik</th>
            <th scope="col">Tarih    -    Saat</th>
            <th scope="col">detay</th>
          </tr>
        </thead>

      <tbody>
        <tr *ngFor="let obj of message;let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{obj.gelen}}</td>
          <td>{{obj.baslik}}</td>
          <td>{{obj.Tarih}} - {{obj.Time}}</td>
       
          <td><button type="button" class="btn btn-secondary" (click)="getMesDetail(obj.key)" >Oku</button> </td>
        </tr>
      </tbody>
      </table>

      <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">Mesaj</th>

          </tr>
        </thead>
        <tbody>
         
            <td>{{mdetail2}}</td>
          
        </tbody>
      </table>
    
    </ng-template>
  </ngb-tab>


  <ngb-tab>
    <ng-template ngbTabTitle ><b>Reservasyonlar</b></ng-template>
    <ng-template ngbTabContent> 
      <table class="table table-hover"  >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kimden</th>
            <th scope="col">Başlangıç   -    Bitiş</th>
            <th scope="col">Tür</th>
            <th scope="col">Cinsiyet</th>
            <th scope="col">Yaş</th>
            <th scope="col">Kaç Gece</th>
            <th scope="col">Toplam Tutar</th>
            <th scope="col">Eylem</th>
          </tr>
        </thead>

      <tbody>
        <tr *ngFor="let objj of resArray;let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{objj.name}}</td>
          <td>{{objj.startDate}}--{{objj.endDate}}</td>
          <td>{{objj.tur}}</td>
          <td>{{objj.cins}}</td>
          <td>{{objj.yas}}</td>
          <td>{{objj.gece}}</td>
          <td>{{result2[i]}}</td>
          
       
          <td><button type="button" class="btn btn-secondary" (click)="applyReservation(objj)" >Kabul et</button>-
          <button type="button" class="btn btn-secondary"  (click)="removeReservation(objj.key)">Reddet</button> </td>
        </tr>
          
        
      </tbody>
      </table>
    
    </ng-template>
  </ngb-tab>
  <ngb-tab >
    <ng-template ngbTabTitle ><b>Iletisim kur</b></ng-template>
    <ng-template ngbTabContent >
      <select #tur id="aa">
        <option value="yonetici">yonetici</option>
        <option value="bakıcılar">bakıcılar</option>
        <option value="hayvan sahibleri">hayvan sahibleri</option>
        
      </select>
      <p id="ab"><button (click)="kisiler(tur.value)"  class="btn btn-primary">Kişileri getir</button></p>
    
        <div class="form-group" >
          <label for="sel1">Kişi seç</label>
          <select class="form-control"id="sel1" formControlName="OgrenciId" #tur2> 
            <option *ngFor="let obj of data"  [value]="obj.key">{{obj.email}}--{{obj.name}}</option>
          </select>
          <button (click)="onSubmit(tur2.value)" class="btn btn-primary" routerLink='/sendMessage2' id="ac">Mesaj yaz </button>
          <br>
          
        </div>
      
      
     
    </ng-template>
  </ngb-tab>

</ngb-tabset>
