.listebox{
    padding: 10px;
}
#ss{
    margin-left: 33%;
    margin-top: 8%;
    table-layout: auto;
}





.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: left;
    font-family: arial;
  }



  
 