<div id="aa">
  <div class="card" style="width: 30rem;">
    <img src="{{url}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
      <h5 class="card-title">Cinsi; {{cins}}</h5>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cinsiyet; {{Cinsiyet}}</li>
      <li class="list-group-item">Yaşı; {{yas}}</li>
      <li class="list-group-item">Şehir; {{Sehir}}</li>
      <li class="list-group-item">İlanAciklamasi; {{ilanAciklamasi}}</li>
    </ul>
    <div class="card-body">
      <a routerLink='/sendMesssage' class="card-link" (click)="user.messageSend(ida)">İletisime Geç</a>

      <a routerLink='/pets' class="card-link" (click)="delete()" *ngIf="(admin==true)">İlanı kaldır</a>
    </div>
  </div>
</div>